<!DOCTYPE html>
<html>

<head>

    <title>Barcode</title>

</head>

<body>
    <img src="data:image/png;base64, {{ BarcodePNG }}" alt="barcode"   />
    <br>
    <font style="letter-spacing: 7px;">{{ Barcode }}</font>

</body>

</html>
