<!DOCTYPE html>
<html>

<head>

    <title></title>
</head>

<body>
{{ Vars.Body | raw }}
{#Dear {{ Vars.Users.name }},<br>#}
{#<br>#}
{#Untuk me reset password account anda silakan klik link di bawah ini:<br><br>#}

{#<a href="{{ route('users_request_reset_password', Vars.Users.email_token) }}" > {{ route('users_request_reset_password', Vars.Users.email_token) }}</a><br>#}
{#<br><br>#}
{#Salam Sukses#}

</body>

</html>
