<!DOCTYPE html>
<html>

<head>

    <title></title>
</head>

<body>
{{ Vars.Body | raw }}
{#<i>Selamat bergabung di Your Bag Spa. Silakan ganti password anda di link di bawah ini : </i><br><br>#}

{#<a href="{{ route('users_request_reset_password',Vars.User.email_token) }}" > {{ route('users_request_reset_password',Vars.User.email_token) }}</a><br><br>#}

{#Terima kasih#}
</body>

</html>
